<footer class="footer">
  <div class="footer-container container">
    <p class="footer-logo">Lloyd<span class="logo-part">Jefferson.</span></p>
    <ul class="footer-list">
      <li>
        <a href="https://www.instagram.com/goitclub/" target="_blank" class="footer-networks"
          >Instagram</a
        >
      </li>
      <li>
        <a href=" https://www.facebook.com/goITclub/" target="_blank" class="footer-networks"
          >Facebook</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          target="_blank"
          class="footer-networks"
          >Linkedin</a
        >
      </li>
      <li><a href="https://github.com/tms-zngs/js-team-17 " target="_blank" class="footer-networks">GitHub</a></li>
    </ul>
    <p class="footer-copyright">© Copyright 2024. Made by LloydJefferson</p>
  </div>
</footer>
