<header class="header">
  <div class="container header-container">
    <a class="logo" href="#"
      >Lloyd
      <span class="logo-header-span">Jefferson.</span>
    </a>
    <div class="theme-toggle-div">
      <label id="switch" class="switch">
        <input type="checkbox" id="theme-toggle" />
        <span class="slider round overlay"></span>
      </label>
    </div>
    <nav class="navigation">
      <ul class="nav-list-head">
        <li class="nav-item-head"><a href="#">About Me</a></li>
        <li class="nav-item-head"><a href="#">Project</a></li>
        <li class="nav-item-head"><a href="#">Contacts</a></li>
      </ul>
    </nav>
    <button type="button" class="burger-btn">
      <svg class="icon-burger" width="32" height="32">
        <use href="../img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
