<section class="section-hero">
  <div class="container hero-container">
    <h1 class="title">
      Hello, I am
      <img    src="/img/hero/hero-desktop-1x.jpg" 
  srcset="
    /img/hero/hero-desktop-1x.jpg 1x,
    /img/hero/hero-desktop-2x.jpg 2x
  "  alt="hero" class="hero-img" />
      <span class="span-title">Fullstack developer</span>
    </h1>
    <div class="wrapp-hero-text">
      <a href="#work-together" class="wrapp-hero">
        <div class="wrapp-arrow">
            <svg class="hero-arrow" width="28">
                <use href="/img/sprite.svg#icon-arrow-hero"></use>
            </svg>
            <p class="hero-link">Order the project</p>
        </div>
        <div class="background-wrapp"></div>
      </a>
      <p class="hero-text">
        I work with people all over the world to create
        <span class="green-text">impressive </span>and
        <span class="green-text">functional websites </span>that reflect each
        client’s unique personality.
      </p>
    </div>
  </div>
  <ul class="hero-list">
    <li class="hero-item"><a href="https://www.instagram.com/goitclub/" class="hover-link" target="_blank">Instagram</a></li>
    <li class="hero-item"><a href="https://www.facebook.com/goITclub/" class="hover-link" target="_blank">Facebook</a></li>
    <li class="hero-item"><a href="https://www.linkedin.com/school/goit-start-your-career-in-it" class="hover-link" target="_blank">Linkedin</a></li>
    <li class="hero-item"><a href="https://github.com/tms-zngs/js-team-17" class="hover-link" target="_blank">GitHub</a></li>
  </ul>
</section>
