<section class="section-hero">
  <div class="container hero-container">
    <h1 class="title">
      Hello, I am
      <img src="../img/hero.jpg" alt="hero" class="hero-img" />
      <span class="span-title">Fullstack developer</span>
    </h1>
    <div class="wrapp-hero-text">
      <div class="wrapp-hero">
        <div class="wrapp-arrow">
            <svg class="hero-arrow" width="28">
                <use></use>
            </svg>
            <a href="#contacts" class="hero-link">Order the project</a>
        </div>
        <div class="background-wrapp"></div>
      </div>
      <p class="hero-text">
        I work with people all over the world to create
        <span class="green-text">impressive</span>and
        <span class="green-text">functional websites</span>that reflect each
        client’s unique personality.
      </p>
    </div>
  </div>
  <ul class="hero-list">
    <li class="hero-item"><a href="https://www.instagram.com/goitclub/" class="hover-link" target="_blank">Instagram</a></li>
    <li class="hero-item"><a href="https://www.facebook.com/goITclub/" class="hover-link" target="_blank">Facebook</a></li>
    <li class="hero-item"><a href="https://www.linkedin.com/school/goit-start-your-career-in-it" class="hover-link" target="_blank">Linkedin</a></li>
    <li class="hero-item"><a href="https://github.com/tms-zngs/js-team-17" class="hover-link" target="_blank">GitHub</a></li>
  </ul>
</section>
