<div class="modal-overlay">
    <div class="header-container">
        <a href="#" class="logo">
            Lloyd
            <span class="logo-header-span">Jefferson.</span>
        </a>
        <button type="button" class="burger-btn modal-btn">
            <svg class="icon-close" width="32" height="32">
                <use href="../img/sprite.svg#icon-modal-close"></use>
            </svg>
        </button>
    </div>
    <ul class="nav-list">
        <li class="nav-item"><a href="" class="modal-link">About me</a></li>
        <li class="nav-item"><a href="" class="modal-link">Projects</a></li>
        <li class="nav-item"><a href="" class="modal-link">Contacts</a></li>
    </ul>
    <img src="../img/decor/decor-hero-mobile.png" alt="bg-header" class="bg-header">
</div>