<div class="container">
  <div class="my-projects">
    <h2 class="projects-title">
      my <span class="projects-title-span">projects</span>
    </h2>

    <div class="projects-list">
      <div class="projects-item">
        <img
          src="../img/my-projects/wallet.jpg"
          srcset="
            ../img/my-projects/wallet.jpg,
            ../img/my-projects/wallet@2x.jpg
          "
          alt="Wallet webservice"
          class="project-item-img"
        />

        <div class="project-title-botton">
          <p class="technologies-text">React, JavaScript, Node JS, Git</p>

          <div class="projects-item-technologies">
            <p class="project-item-title">Wallet webservice</p>
            <a
              href="https://github.com/tms-zngs/js-team-17#"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="projects-button-link">
                <span class="projects-button-link-text">VISIT</span>
                <svg class="button-arrow-icon" width="24" height="24">
                  <use href="../img/sprite.svg#icon-visit-arrow"></use>
                </svg>
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="projects-item">
        <div class="projects-item-img">
          <img
            src="../img/my-projects/green.jpg"
            srcset="
              ../img/my-projects/green.jpg,
              ../img/my-projects/green@2x.jpg
            "
            alt="Green harvest webservice"
            class="project-item-img"
          />
        </div>
        <div class="project-title-botton">
          <p class="technologies-text">React, JavaScript, Node JS, Git</p>

          <div class="projects-item-technologies">
            <p class="project-item-title">Green harvest webservice</p>
            <a
              href="https://github.com/tms-zngs/js-team-17#"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="projects-button-link">
                <span class="projects-button-link-text">VISIT</span>
                <svg class="button-arrow-icon" width="24" height="24">
                  <use href="../img/sprite.svg#icon-visit-arrow"></use>
                </svg>
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="projects-item">
        <div class="projects-item-img">
          <img
            src="../img/my-projects/english.jpg"
            srcset="
              ../img/my-projects/english.jpg,
              ../img/my-projects/english@2x.jpg
            "
            alt="English Exellence webservice"
            class="project-item-img"
          />
        </div>
        <div class="project-title-botton">
          <p class="technologies-text">React, JavaScript, Node JS, Git</p>

          <div class="projects-item-technologies">
            <p class="project-item-title">English Exellence webservice</p>
            <a
              href="https://github.com/tms-zngs/js-team-17#"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="projects-button-link">
                <span class="projects-button-link-text">VISIT</span>
                <svg class="button-arrow-icon" width="24" height="24">
                  <use href="../img/sprite.svg#icon-visit-arrow"></use>
                </svg>
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="projects-item">
        <div class="projects-item-img">
          <img
            src="../img/my-projects/power.jpg"
            srcset="
              ../img/my-projects/power.jpg,
              ../img/my-projects/power@2x.jpg
            "
            alt="Power pulse webservice"
            class="project-item-img"
          />
        </div>
        <div class="project-title-botton">
          <p class="technologies-text">React, JavaScript, Node JS, Git</p>

          <div class="projects-item-technologies">
            <p class="project-item-title">power pulse webservice</p>
            <a
              href="https://github.com/tms-zngs/js-team-17#"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="projects-button-link">
                <span class="projects-button-link-text">VISIT</span>
                <svg class="button-arrow-icon" width="24" height="24">
                  <use href="../img/sprite.svg#icon-visit-arrow"></use>
                </svg>
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="projects-item">
        <div class="projects-item-img">
          <img
            src="../img/my-projects/mimino.jpg"
            srcset="
              ../img/my-projects/mimino.jpg,
              ../img/my-projects/mimino@2x.jpg
            "
            alt="Mimino website"
            class="project-item-img"
          />
        </div>
        <div class="project-title-botton">
          <p class="technologies-text">React, JavaScript, Node JS, Git</p>

          <div class="projects-item-technologies">
            <p class="project-item-title">mimino website</p>
            <a
              href="https://github.com/tms-zngs/js-team-17#"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="projects-button-link">
                <span class="projects-button-link-text">VISIT</span>
                <svg class="button-arrow-icon" width="24" height="24">
                  <use href="../img/sprite.svg#icon-visit-arrow"></use>
                </svg>
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="projects-item">
        <div class="projects-item-img">
          <img
            src="../img/my-projects/vyshyvanka.jpg"
            srcset="
              ../img/my-projects/vyshyvanka.jpg,
              ../img/my-projects/vyshyvanka@2x.jpg
            "
            alt="Vyshyvanka"
            class="project-item-img"
          />
        </div>
        <div class="project-title-botton">
          <p class="technologies-text">React, JavaScript, Node JS, Git</p>

          <div class="projects-item-technologies">
            <p class="project-item-title">vyshyvanka vibes Landing Page</p>
            <a
              href="https://github.com/tms-zngs/js-team-17#"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="projects-button-link">
                <span class="projects-button-link-text">VISIT</span>
                <svg class="button-arrow-icon" width="24" height="24">
                  <use href="../img/sprite.svg#icon-visit-arrow"></use>
                </svg>
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="projects-item">
        <div class="projects-item-img">
          <img
            src="../img/my-projects/chego.jpg"
            srcset="
              ../img/my-projects/chego.jpg,
              ../img/my-projects/chego@2x.jpg
            "
            alt="Chego"
            class="project-item-img"
          />
        </div>
        <div class="project-title-botton">
          <p class="technologies-text">React, JavaScript, Node JS, Git</p>

          <div class="projects-item-technologies">
            <p class="project-item-title">chego jewelry website</p>
            <a
              href="https://github.com/tms-zngs/js-team-17#"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="projects-button-link">
                <span class="projects-button-link-text">VISIT</span>
                <svg class="button-arrow-icon" width="24" height="24">
                  <use href="../img/sprite.svg#icon-visit-arrow"></use>
                </svg>
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="projects-item">
        <div class="projects-item-img">
          <img
            src="../img/my-projects/energy.jpg"
            srcset="
              ../img/my-projects/energy.jpg,
              ../img/my-projects/energy@2x.jpg
            "
            alt="Energy"
            class="project-item-img"
          />
        </div>
        <div class="project-title-botton">
          <p class="technologies-text">React, JavaScript, Node JS, Git</p>

          <div class="projects-item-technologies">
            <p class="project-item-title">energy flow webservice</p>
            <a
              href="https://github.com/tms-zngs/js-team-17#"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="projects-button-link">
                <span class="projects-button-link-text">VISIT</span>
                <svg class="button-arrow-icon" width="24" height="24">
                  <use href="../img/sprite.svg#icon-visit-arrow"></use>
                </svg>
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="projects-item">
        <div class="projects-item-img">
          <img
            src="../img/my-projects/fruitbox.jpg"
            srcset="
              ../img/my-projects/fruitbox.jpg,
              ../img/my-projects/fruitbox@2x.jpg
            "
            alt="Fruitbox"
            class="project-item-img"
          />
        </div>
        <div class="project-title-botton">
          <p class="technologies-text">React, JavaScript, Node JS, Git</p>

          <div class="projects-item-technologies">
            <p class="project-item-title">fruitbox online store</p>
            <a
              href="https://github.com/tms-zngs/js-team-17#"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="projects-button-link">
                <span class="projects-button-link-text">VISIT</span>
                <svg class="button-arrow-icon" width="24" height="24">
                  <use href="../img/sprite.svg#icon-visit-arrow"></use>
                </svg>
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="projects-item">
        <div class="projects-item-img">
          <img
            src="../img/my-projects/starling.jpg"
            srcset="
              ../img/my-projects/starling.jpg,
              ../img/my-projects/starling@2x.jpg
            "
            alt="Starlight"
            class="project-item-img"
          />
        </div>
        <div class="project-title-botton">
          <p class="technologies-text">React, JavaScript, Node JS, Git</p>

          <div class="projects-item-technologies">
            <p class="project-item-title">starlight studio landing page</p>
            <a
              href="https://github.com/tms-zngs/js-team-17#"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="projects-button-link">
                <span class="projects-button-link-text">VISIT</span>
                <svg class="button-arrow-icon" width="24" height="24">
                  <use href="../img/sprite.svg#icon-visit-arrow"></use>
                </svg>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="projects-button-bottom">
      <button class="load-more-button">LODE MORE</button>
      <svg
        class="load-more-line"
        width="119"
        height="2"
        viewBox="0 0 119 2"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.5 0C0.947715 -4.82823e-08 0.5 0.447715 0.5 1C0.5 1.55228 0.947715 2 1.5 2L1.5 0ZM1.5 2L118.5 2.00001L118.5 1.02285e-05L1.5 0L1.5 2Z"
          fill="#00B068"
        />
      </svg>
    </div>
  </div>
</div>
