<section class="section-reviews">
  <div class="container container-reviews">
    <h2 class="reviews-title">reviews</h2>

    <ul class="reviews-list"></ul>
    <div class="container-btn-nav">
      <div class="container-btn">
        <button type="button" class="btn-nav">
          <svg width="24" height="24" class="btn-icon">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="btn-nav">
          <svg width="24" height="24" class="btn-icon">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
