<section class="tech-skills">
  <div class="container tech-skills-container">
    <h2 class="tech-skills-title visually-hidden">tech-skills</h2>
    <div class="container-inner-first">
      <p class="container__line-first">
        HTML/CSS<span class="dot-tech-skills"></span>JavaScript<span
          class="dot-tech-skills"
        ></span
        >React<span class="dot-tech-skills"></span>Node. js<span
          class="dot-tech-skills"
        ></span
        >React Native<span class="dot-tech-skills"></span>Typescript
      </p>
    </div>
    <div class="container-inner-second">
      <p class="container__line-second">
        HTML/CSS<span class="dot-tech-skills"></span>JavaScript<span
          class="dot-tech-skills"
        ></span
        >React<span class="dot-tech-skills"></span>Node. js<span
          class="dot-tech-skills"
        ></span
        >React Native<span class="dot-tech-skills"></span>Typescript
      </p>
    </div>
  </div>
</section>
