<section class="tech-skills-section" id="tech-skills-section">
  <h2 class="visually-hidden">Tech Skills</h2>
  <div class="marquee up">
    <div class="marquee-inner ">
      <p class="marquee-line marquee-line-up"> <span class="dot-up"></span>
        HTML/CSS <span class="dot-up"></span> JavaScript <span class="dot-up"></span> React <span class="dot-up"></span>
        Node.js <span class="dot-up"></span> React Native <span class="dot-up"></span> TypeScript
      </p>
      <p class="marquee-line marquee-line-up"> <span class="dot-up"></span>
        HTML/CSS <span class="dot-up"></span> JavaScript <span class="dot-up"></span> React <span class="dot-up"></span>
        Node.js <span class="dot-up"></span> React Native <span class="dot-up"></span> TypeScript
      </p>
    </div>
  </div>

  <div class="marquee down">
    <div class="marquee-inner ">
      <p class="marquee-line marquee-line-down"> <span class="dot-down"></span>
        HTML/CSS <span class="dot-down"></span> JavaScript <span class="dot-down"></span> React <span
          class="dot-down"></span>
        Node.js <span class="dot-down"></span> React Native <span class="dot-down"></span> TypeScript
      </p>
      <p class="marquee-line marquee-line-down"> <span class="dot-down"></span>
        HTML/CSS <span class="dot-down"></span> JavaScript <span class="dot-down"></span> React <span
          class="dot-down"></span>
        Node.js <span class="dot-down"></span> React Native <span class="dot-down"></span> TypeScript
      </p>
    </div>
</section>
