<section class="tech-skills">
  <link
    href="https://fonts.googleapis.com/css?family=Pridi:600"
    rel="stylesheet"
  />

  <div class="container tech-skills-container">
    <div class="container-inner">
      <p class="container__line">
        HTML/CSS<span></span>JavaScript<span></span>React<span></span>Node.
        js<span></span>React Native<span></span>Typescript
      </p>
      <p class="container__line">
        HTML/CSS<span></span>JavaScript<span></span>React<span></span>Node.
        js<span></span>React Native<span></span>Typescript
      </p>
    </div>
  </div>
</section>
