<section class="work-together" id="work-together">
  <div class="container work-together-container">
    <div class="header-container-work-together">
    <h2 class="work-together-header">Let’s <span class="work-together-green-header"> work together</span></h2>
    </div>
    <div class="section-wrapper">
        <div class="desc-nav-container">
            <p class="form-description">
          Contact me to transform your ideas into exceptional solutions.
            </p>
         <ul class="form-contact-list">
            <li class="form-item-list">
                <svg class="icon-form" width="24" height="24">
                    <use href="/img/sprite.svg#icon-phone"></use>
                </svg>
                <a href="tel:+380904567890">+380 90 456 78 90</a>
            </li> 
            <li class="form-item-list">
                <svg class="icon-form" width="24" height="24">
                    <use href="/img/sprite.svg#icon-mail"></use>
                </svg>
                <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
            </li>
            <li class="form-item-list">
                <svg class="icon-form" width="24" height="24">
                    <use href="/img/sprite.svg#icon-location"></use>
                </svg>
                <address class="form-address">
                        <a href="https://www.google.com/maps/place/%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@40.5660911,-74.7217885,8.89z/data=!4m6!3m5!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!8m2!3d40.7127753!4d-74.0059728!16zL20vMDJfMjg2?entry=ttu&g_ep=EgoyMDI1MDQyMi4wIKXMDSoASAFQAw%3D%3D" target="_blank">USA, New York</a>
                    </address>
                </li>
            </ul>
        </div>
        <div class="form-container">
            <form id="contact-form">
                <div class="email-container">
                    <label for="form-email" class="form-user-label"></label>
                        <input
                        type="email"
                        class="form-email"
                        id="form-email"
                        name="form-email"
                        pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,})+\.([A-z]{2,8})"
                        placeholder="Your Email*"
                        required
                        />
                </div>
                <div class="message-container">
                    <label class="form-user-label" for="user-message"></label>
                        <textarea
                        class="form-message"
                        id="user-message"
                        name="user-message"
                        placeholder="Message" 
                        required></textarea>
                </div>
                <button class="button-form" type="submit">SEND MESSAGE</button>
            </form>
      </div> 
    </div>
      <div id="success-modal" class="modal">
          <div class="modal-content">
             <button class="close-modal"> <svg class="icon-modal-close" width="24" height="24">
                  <use href="/img/sprite.svg#icon-modal-close"></use>
                 </svg>
                </button>
             <h3 class="modal-header">Thank you for your interest in cooperation!</h3>
              <p class="modal-text">The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay in touch.</p>
             
             </div>
         </div>
</section>
