:root {
  font-family: 'Impact', 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-text-color: #292929; /* основной цвет текста */
  --span-text-color: #00b068; /* цвет текста в span */
  --main-background-color: #f0f0f0; /* основной фон для светлой темы */
  --accent-background-color: #bcdfd1; /* дополнительный фон для светлой темы (в hero, hard-skills, заливка иконок benefits, faq)*/
  --grey-background-color: #e4e5e6; /* серый фон (в hard skills, hero, кнопки my-projects, faq, reviews, форма) */
  --hover-green: #009156; /* зеленый hover кнопки */
  --hover-grey: #bbb; /* серый hover кнопки */
  --error-color: #e74a3b; /* цвет текста ошибки */
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  overflow-x: hidden;
}

body.dark-mode {
  --main-text-color: #f0f0f0; /* основной цвет текста */
  --span-text-color: #14c57c; /* цвет текста в span */
  --main-background-color: #1e2023; /* основной фон для темной темы */
  --accent-background-color: #204136; /* дополнительный фон для темной темы (в hero, hard-skills, заливка иконок benefits, faq)*/
  --grey-background-color: #2a2d32; /* серый фон (в hard skills, hero, кнопки my-projects, faq, reviews, форма) */
  --hover-green: #009156; /* зеленый hover кнопки */
  --hover-grey: #3b3f45; /* серый hover кнопки */
  --error-color: #e74a3b; /* цвет текста ошибки */
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}
