.benefits-section {
    margin-bottom: 80px;
}
.benefits-tittle {
font-weight: 400;
font-size: 52px;
line-height: 1.23;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-text-color);
margin-bottom: 40px;
}
.span-tittle {
    color: var(--span-text-color);
}
.benefits-list {
    display: flex;
    flex-direction: column;
    gap:32px;
}
.benefits-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.benefits-item.empty1,
.benefits-item.empty2 {
  display: none;
}
.icon-wrapper {
    border-radius: 8px;
width: 48px;
height: 48px;
background-color: var(--accent-background-color);
display: flex;
justify-content: center;
align-items: center;
}
.benefits-icon {
    stroke: var(--span-text-color);     
    fill: none;
}
.benefits-subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-text-color);
}
.benefits-descr {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.03em;
color: var(--main-text-color);
}


@media only screen and (min-width: 768px) {
.benefits-section {
    margin-bottom: 124px;
}
.benefits-tittle {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    margin-bottom: 0;
    }
.span-tittle {
}
  .benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .benefits-item {
    flex-basis: calc((100% - 32px) / 2);
    max-width: calc((100% - 32px) / 2);
  }
  .benefits-item.empty2 {
  display: none;
}
.benefits-item.empty1 {
  flex-basis: calc((100% - 32px) / 2);
  max-width: calc((100% - 32px) / 2);
  display: block;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
}
.benefits-subtitle {
    font-size: 20px;
    line-height: 1.6;
}
}

@media screen and (min-width: 1280px) {
.benefits-section {
    margin-bottom: 164px;
}
.benefits-container {
    background-repeat: no-repeat;
  background-position: top right 20px;
  background-size: auto;
  background-image: image-set(url(/img/decor/decor-benefits-desktop.png));
}
.benefits-tittle {
    width: 681px;
    margin-bottom: -100px;
}
.benefits-list {
    gap: 32px;
}
.benefits-item.empty1,
.benefits-item.empty2 {
  flex-basis: calc((100% - 64px) / 3);
    max-width: calc((100% - 64px) / 3);
  display: block;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
}
.benefits-item {
    flex-basis: calc((100% - 64px) / 3);
    max-width: calc((100% - 64px) / 3);
}
}






