
.faq-title-accent-wrapper {
  color: var(--span-text-color)
}

.faq-title {
  text-transform: uppercase;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 1.8px;
  margin-bottom: 40px;
  }

.faq-item {
  background-color: var(--main-background-color) !important;
  border: none !important;
  border-bottom: 1px solid var(--grey-background-color) !important;
  }

.faq-item.ac-active {
  border-bottom: none !important;
  border-radius: 16px;
  background-color: var(--accent-background-color) !important;
}

body.dark-mode .faq-item {
  border-bottom: 1px solid #ffffff !important;
}

body.dark-mode .faq-item.ac-active {
  border-bottom: none !important;
}

.faq-question {
  display: flex;
  padding-top: 28px;
  padding-right: 24px;
  padding-left: 24px;
  margin-bottom: 24px;
  }

.faq-question-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-right: 16px;
  text-transform: uppercase;
  }

.faq-btn-accordion {
  max-width: 24px !important;
  max-height: 24px;
  padding: 4px !important;
  background-color: transparent;
  }

.faq-btn-svg {
  width: 16px;
  height: 12px;
  fill: none;
  stroke: var(--main-text-color);
  }

.ac .ac-trigger::after {
  display: none !important;
  content: none !important;
  }

.faq-answer {
  padding-right: 24px;
  padding-bottom: 28px;
  padding-left: 24px;
  }

.faq-answer-item {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  }


@media screen and (min-width: 768px) {

.faq-title {
  font-size: 108px;
  line-height: 124px;
  margin-bottom: 60px;
  }

.faq-question {
  justify-content: space-between;
}
.faq-question-title {
  font-size: 20px;
  line-height: 32px;
}


}

@media screen and (min-width: 1280px) {

.faq {
  position: relative;
  overflow: hidden;
  }

.faq .container {
  position: relative;
  display: flex;
  max-width: 1280px;
  }

.faq-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 526px;
  height: 408px;
  background-image: url('../img/decor/decor-faq-desktop.png');
  background-repeat: no-repeat;
  background-size: 526px 408px;
  background-position: left bottom;
  pointer-events: none;
  z-index: -1;
} 

.faq-title {
  width: 520px;
  margin-right: 104px;
  margin-bottom: 40px;
}

.faq-list{
  margin-top: 276px;
}

.faq-question-title {
  font-size: 16px;
  line-height: 24px;
} 

}


