.footer-container {
    display: flex;
    flex-direction: column;
    padding: 40px 20px 24px 20px;
}

.footer-logo {
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-bottom: 32px;
}

.logo-part {
    color: var(--span-text-color);
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
}

.footer-networks {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.footer-networks:hover,
.footer-networks:focus {
    color: var(--span-text-color);
}

.footer-copyright {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-text-color);
    width: 197px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .footer-container {
        padding: 40px 32px 24px 32px;
    }

    .footer-list {
        flex-direction: row;
        gap: 40px; 
    }

    .footer-copyright {
        width: 100%;
        text-align: right;
    }
}

@media screen and (min-width: 1280px) {
    .footer-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer-logo {
    margin-bottom: 0px;
}

    .footer-list {
        text-align: right;
        margin-bottom: 0px;
    }

    .footer-copyright {
        margin-top: 40px;
    }
}