/* #region tech-skills styles mobile version */

.tech-skills {
  margin-bottom: 80px;
}

.tech-skills-container {
  max-width: 1392px;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.tech-skills-title {
  font-weight: 400;
  font-size: 52px;
  line-height: 123%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-inner-first {
  display: flex;
  align-items: center;
  max-width: 1392px;
  overflow: hidden;

  color: var(--main-text-color);
}

.container-line-first {
  flex-shrink: 0;
  margin: 0;
  padding: 32px 0;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  background-color: #bcdfd1;
}

.dot-tech-skills-first {
  display: inline-block;
  background-color: var(--span-text-color);
  border-radius: 2px;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  margin: 8px 24px;
}

.container-inner-second {
  display: flex;
  max-width: 1392px;
  overflow: hidden;
  color: var(--span-text-color);
}

.container-line-second {
  flex-shrink: 0;
  margin: 0;
  padding: 32px 0px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLineSecond;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  background-color: #e4e5e6;
}

.dot-tech-skills-second {
  display: inline-block;

  background-color: var(--main-text-color);
  border-radius: 2px;
  width: 8px;
  height: 8px;

  flex-shrink: 0;
  margin: 8px 24px;
}

@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes marqueeLineSecond {
  from {
    transform: translateX(0) rotate(+2deg);
  }

  to {
    transform: translateX(-100%) rotate(+2deg);
  }
}

/* #endregion */

/* #region tech-skills styles for Tablet devices */

@media only screen and (min-width: 768px) {
  .tech-skills {
    margin-bottom: 124px;
  }

  .tech-skills-container {
    max-width: 1392px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    line-height: 133%;
    letter-spacing: 0.01em;
  }

  .dot-tech-skills-first,
  .dot-tech-skills-second {
    margin: 8px 20px;
  }

  .container-line-first,
  .container-line-second {
    padding: 40px 0px;
  }
}

/* #endregion */

/* #region tech-skills styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .tech-skills {
    margin-bottom: 164px;
  }
}
/* #endregion */
