.marquee-line {
  flex-shrink: 0;
  margin: 0;
  min-width: 100%;
  white-space: nowrap;
}

.marquee-line-up {
  margin: auto;
  color: var(--main-text-color);
  animation: marqueeLine 15s linear infinite;
}

.marquee-line-down {
  margin: auto;
  color: var(--span-text-color);
  animation: marqueeLineReverse 15s linear infinite;
}

.dot-up {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--span-text-color);
  margin: 10px 16px;
  border-radius: 2px;
}

.dot-down {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--main-text-color);
  margin: 10px 16px;
  border-radius: 2px;
}

@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}


@keyframes marqueeLineReverse {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}



@media screen and (min-width: 768px) {

  .down {
    margin-top: -10px;
  }

}

@media screen and (min-width: 1280px) {

  .down {
    transform: skewY(1deg);
  }

}